<div class="jumbotron text-center">
  <h1>Make New Character</h1>
  <h3>Add desirable amount of attributes</h3>
  <h4>if you don't want any click on Remove attribute button bellow</h4>
</div>
  <%= form_for @character_type do |f| %>
  <% if @character_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character_type.errors.count, "error") %> prohibited this character_type from being saved:</h2>
      <ul>
        <% @character_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group" style="text-align: center">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>

    <div class="form-group" style="text-align: center">
      <%= f.label :avatar %>
      <br>
      <%= f.file_field :avatar %>
    </div>

    <div class="actions" style="text-align: center">
      <%= f.submit :class => "btn btn-primary", id: "update-character" %>
    </div>
    <br>
    <br>
    <div id="character_attributes">
      <h2>Add an attribute:</h2>
      <%= f.fields_for :character_attributes do |character_attribute| %>
        <%= render "character_attribute_fields", f: character_attribute %>
      <% end %>
      <div class='links' id="add_link">
        <%= link_to_add_association 'Add new attribute', f, :character_attributes, class: 'btn btn-primary' %>
      </div>
    </div>
    <br>
  <% end %>
  <br>
  <div class="navigation-links">
    <%= link_to 'Back', character_types_path, :class => "btn btn-success" %>
  </div>
