<!DOCTYPE html>
<html>
<head>
  <title>RPG Editor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class="container">
  <div class="row">
    <div class="col page-nav">
      <%= render partial: 'layouts/menu' %>
    </div>
  </div>
</div>

<%= yield %>
</body>
</html>
